In [ ]:
# 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
# 필요 패키지 import
import pandas as pd
import numpy as np

In [3]:
# 파일 업로드
user = pd.read_csv('user_spec_clean.csv')
loan = pd.read_csv('loan_result_clean.csv')
log = pd.read_csv('log_data_clean.csv')

In [4]:
# 데이터 확인
user = user.drop('Unnamed: 0', axis  = 1)
user

,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,...,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,year,age_year,work_day,Age
0,954900,553686,1968.0,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,...,대환대출,0.0,0.0,1.0,27000000.0,2007-02-01,2022-06-01,2022,5599 days,54.0
1,967833,33400,2000.0,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,...,생활비,0.0,0.0,1.0,16000000.0,2021-09-01,2022-06-01,2022,273 days,22.0
2,2003486,441096,1987.0,0.0,2022-06-07 15:34:07,600.0,75000000.0,FREELANCER,20210301.0,기타,...,생활비,0.0,0.0,1.0,7000000.0,2021-03-01,2022-06-01,2022,457 days,35.0
3,1018194,50628,1985.0,1.0,2022-06-07 11:25:04,640.0,43000000.0,EARNEDINCOME,20180301.0,정규직,...,생활비,0.0,0.0,1.0,8000000.0,2018-03-01,2022-06-01,2022,1553 days,37.0
4,1097135,57840,1968.0,0.0,2022-06-07 23:13:06,560.0,156000000.0,EARNEDINCOME,20150101.0,정규직,...,생활비,0.0,0.0,1.0,5000000.0,2015-01-01,2022-06-01,2022,2708 days,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107119,1905207,834738,1993.0,1.0,2022-03-22 15:07:28,830.0,30000000.0,PRIVATEBUSINESS,201909.0,기타,...,대환대출,0.0,0.0,1.0,11000000.0,2019-09-01,2022-06-01,2022,1004 days,29.0
107120,1967352,594440,1985.0,0.0,2022-03-22 10:49:52,550.0,14000000.0,EARNEDINCOME,202104.0,정규직,...,생활비,0.0,0.0,1.0,19000000.0,2021-04-01,2022-06-01,2022,426 days,37.0
107121,1122026,794263,1992.0,1.0,2022-03-22 17:06:44,450.0,33000000.0,EARNEDINCOME,201804.0,정규직,...,대환대출,0.0,0.0,1.0,7000000.0,2018-04-01,2022-06-01,2022,1522 days,30.0
107122,1867092,404721,1979.0,0.0,2022-03-22 12:13:16,690.0,30000000.0,FREELANCER,201901.0,기타,...,생활비,0.0,0.0,1.0,27000000.0,2019-01-01,2022-06-01,2022,1247 days,43.0
107123,1859591,559015,1977.0,1.0,2022-03-22 04:31:07,700.0,156000000.0,PRIVATEBUSINESS,202004.0,기타,...,사업자금,0.0,0.0,1.0,108000000.0,2020-04-01,2022-06-01,2022,791 days,45.0

In [ ]:
loan = loan.drop('Unnamed: 0', axis = 1)
loan

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13519868 entries, 0 to 13519867
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   application_id         int64
 1   loanapply_insert_time  object
 2   bank_id                int64
 3   product_id             int64
 4   loan_limit             float64
 5   loan_rate              float64
 6   is_applied             float64
dtypes: float64(3), int64(3), object(1)
memory usage: 722.0+ MB

In [5]:
log = log.drop('Unnamed: 0', axis = 1)
log

          user_id               event            timestamp     date_cd
0          576409      StartLoanApply  2022-03-25 11:12:09  2022-03-25
1          576409  ViewLoanApplyIntro  2022-03-25 11:12:09  2022-03-25
2           72878        EndLoanApply  2022-03-25 11:14:44  2022-03-25
3          645317             OpenApp  2022-03-25 11:15:09  2022-03-25
4          645317       UseLoanManage  2022-03-25 11:15:11  2022-03-25
...           ...                 ...                  ...         ...
17843988   242442      StartLoanApply  2022-05-27 16:08:21  2022-05-27
17843989   242442        EndLoanApply  2022-05-27 16:08:21  2022-05-27
17843990   593062             OpenApp  2022-05-27 16:19:10  2022-05-27
17843991   593062               Login  2022-05-27 16:19:15  2022-05-27
17843992   593062       UseLoanManage  2022-05-27 16:19:19  2022-05-27

[17843993 rows x 4 columns]

In [6]:
user.columns

Index(['application_id', 'user_id', 'birth_year', 'gender', 'insert_time',
       'credit_score', 'yearly_income', 'income_type', 'company_enter_month',
       'employment_type', 'houseown_type', 'desired_amount', 'purpose',
       'personal_rehabilitation_yn', 'personal_rehabilitation_complete_yn',
       'existing_loan_cnt', 'existing_loan_amt', 'enter_month', 'year',
       'age_year', 'work_day', 'Age'],
      dtype='object')

In [ ]:
# user
# 1. birth_year, year, age_year -> age로 통일
# 2. insert_time -> 삭제?
# 3. company_enter_month, enter_month -> work_day로 통일
# 4. purpose -> 라벨 인코딩 
# 5. employment_type -> 라벨 인코딩
# 6. houseown_type -> 라벨 인코딩
# 7. income_type -> 라벨 인코딩
# 8. credit_score -> 범주

In [7]:
# 1. birth_year, year -> age 있으니까 삭제?
user = user.drop('birth_year', axis = 1)
user = user.drop('year', axis = 1)
user = user.drop('age_year', axis = 1)
user

,application_id,user_id,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,work_day,Age
0,954900,553686,1.0,2022-06-07 14:29:03,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0.0,0.0,1.0,27000000.0,2007-02-01,5599 days,54.0
1,967833,33400,1.0,2022-06-07 08:55:07,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,2021-09-01,273 days,22.0
2,2003486,441096,0.0,2022-06-07 15:34:07,600.0,75000000.0,FREELANCER,20210301.0,기타,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,7000000.0,2021-03-01,457 days,35.0
3,1018194,50628,1.0,2022-06-07 11:25:04,640.0,43000000.0,EARNEDINCOME,20180301.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,8000000.0,2018-03-01,1553 days,37.0
4,1097135,57840,0.0,2022-06-07 23:13:06,560.0,156000000.0,EARNEDINCOME,20150101.0,정규직,기타가족소유,30000000.0,생활비,0.0,0.0,1.0,5000000.0,2015-01-01,2708 days,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107119,1905207,834738,1.0,2022-03-22 15:07:28,830.0,30000000.0,PRIVATEBUSINESS,201909.0,기타,기타가족소유,11000000.0,대환대출,0.0,0.0,1.0,11000000.0,2019-09-01,1004 days,29.0
107120,1967352,594440,0.0,2022-03-22 10:49:52,550.0,14000000.0,EARNEDINCOME,202104.0,정규직,전월세,8000000.0,생활비,0.0,0.0,1.0,19000000.0,2021-04-01,426 days,37.0
107121,1122026,794263,1.0,2022-03-22 17:06:44,450.0,33000000.0,EARNEDINCOME,201804.0,정규직,자가,60000000.0,대환대출,0.0,0.0,1.0,7000000.0,2018-04-01,1522 days,30.0
107122,1867092,404721,0.0,2022-03-22 12:13:16,690.0,30000000.0,FREELANCER,201901.0,기타,전월세,3000000.0,생활비,0.0,0.0,1.0,27000000.0,2019-01-01,1247 days,43.0
107123,1859591,559015,1.0,2022-03-22 04:31:07,700.0,156000000.0,PRIVATEBUSINESS,202004.0,기타,기타가족소유,40000000.0,사업자금,0.0,0.0,1.0,108000000.0,2020-04-01,791 days,45.0

In [8]:
# 2. insert_time -> 삭제?
user = user.drop('insert_time', axis = 1)
user

,application_id,user_id,gender,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,work_day,Age
0,954900,553686,1.0,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0.0,0.0,1.0,27000000.0,2007-02-01,5599 days,54.0
1,967833,33400,1.0,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,2021-09-01,273 days,22.0
2,2003486,441096,0.0,600.0,75000000.0,FREELANCER,20210301.0,기타,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,7000000.0,2021-03-01,457 days,35.0
3,1018194,50628,1.0,640.0,43000000.0,EARNEDINCOME,20180301.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,8000000.0,2018-03-01,1553 days,37.0
4,1097135,57840,0.0,560.0,156000000.0,EARNEDINCOME,20150101.0,정규직,기타가족소유,30000000.0,생활비,0.0,0.0,1.0,5000000.0,2015-01-01,2708 days,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107119,1905207,834738,1.0,830.0,30000000.0,PRIVATEBUSINESS,201909.0,기타,기타가족소유,11000000.0,대환대출,0.0,0.0,1.0,11000000.0,2019-09-01,1004 days,29.0
107120,1967352,594440,0.0,550.0,14000000.0,EARNEDINCOME,202104.0,정규직,전월세,8000000.0,생활비,0.0,0.0,1.0,19000000.0,2021-04-01,426 days,37.0
107121,1122026,794263,1.0,450.0,33000000.0,EARNEDINCOME,201804.0,정규직,자가,60000000.0,대환대출,0.0,0.0,1.0,7000000.0,2018-04-01,1522 days,30.0
107122,1867092,404721,0.0,690.0,30000000.0,FREELANCER,201901.0,기타,전월세,3000000.0,생활비,0.0,0.0,1.0,27000000.0,2019-01-01,1247 days,43.0
107123,1859591,559015,1.0,700.0,156000000.0,PRIVATEBUSINESS,202004.0,기타,기타가족소유,40000000.0,사업자금,0.0,0.0,1.0,108000000.0,2020-04-01,791 days,45.0

In [ ]:
# 3. company_enter_month, enter_month -> work_day 통일
user = user.drop('company_enter_month', axis = 1)
user = user.drop('enter_month', axis = 1)
user

,application_id,user_id,gender,credit_score,yearly_income,income_type,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,work_day,Age
0,954900,553686,1.0,870.0,30000000.0,PRIVATEBUSINESS,정규직,기타가족소유,30000000.0,대환대출,0.0,0.0,1.0,27000000.0,5599 days,54.0
1,967833,33400,1.0,630.0,36000000.0,EARNEDINCOME,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,273 days,22.0
2,2003486,441096,0.0,600.0,75000000.0,FREELANCER,기타,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,7000000.0,457 days,35.0
3,1018194,50628,1.0,640.0,43000000.0,EARNEDINCOME,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,8000000.0,1553 days,37.0
4,1097135,57840,0.0,560.0,156000000.0,EARNEDINCOME,정규직,기타가족소유,30000000.0,생활비,0.0,0.0,1.0,5000000.0,2708 days,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107119,1905207,834738,1.0,830.0,30000000.0,PRIVATEBUSINESS,기타,기타가족소유,11000000.0,대환대출,0.0,0.0,1.0,11000000.0,1004 days,29.0
107120,1967352,594440,0.0,550.0,14000000.0,EARNEDINCOME,정규직,전월세,8000000.0,생활비,0.0,0.0,1.0,19000000.0,426 days,37.0
107121,1122026,794263,1.0,450.0,33000000.0,EARNEDINCOME,정규직,자가,60000000.0,대환대출,0.0,0.0,1.0,7000000.0,1522 days,30.0
107122,1867092,404721,0.0,690.0,30000000.0,FREELANCER,기타,전월세,3000000.0,생활비,0.0,0.0,1.0,27000000.0,1247 days,43.0
107123,1859591,559015,1.0,700.0,156000000.0,PRIVATEBUSINESS,기타,기타가족소유,40000000.0,사업자금,0.0,0.0,1.0,108000000.0,791 days,45.0

In [9]:
# Label encoding 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le

LabelEncoder()

In [10]:
# 4. purpose -> 라벨 인코딩 
label_purpose = user['purpose']
print(label_purpose.unique())

le.fit(label_purpose)
label_encoded = le.transform(label_purpose)
label_encoded_df = pd.DataFrame(label_encoded, columns = ['label_purpose'])

user = pd.concat([user, label_encoded_df],axis = 1)
user

['대환대출' '생활비' '주택구입' '기타' '사업자금' '전월세보증금' '자동차구입' '투자']

,application_id,user_id,gender,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,work_day,Age,label_purpose
0,954900,553686,1.0,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0.0,0.0,1.0,27000000.0,2007-02-01,5599 days,54.0,1
1,967833,33400,1.0,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,2021-09-01,273 days,22.0,3
2,2003486,441096,0.0,600.0,75000000.0,FREELANCER,20210301.0,기타,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,7000000.0,2021-03-01,457 days,35.0,3
3,1018194,50628,1.0,640.0,43000000.0,EARNEDINCOME,20180301.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,8000000.0,2018-03-01,1553 days,37.0,3
4,1097135,57840,0.0,560.0,156000000.0,EARNEDINCOME,20150101.0,정규직,기타가족소유,30000000.0,생활비,0.0,0.0,1.0,5000000.0,2015-01-01,2708 days,54.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107119,1905207,834738,1.0,830.0,30000000.0,PRIVATEBUSINESS,201909.0,기타,기타가족소유,11000000.0,대환대출,0.0,0.0,1.0,11000000.0,2019-09-01,1004 days,29.0,1
107120,1967352,594440,0.0,550.0,14000000.0,EARNEDINCOME,202104.0,정규직,전월세,8000000.0,생활비,0.0,0.0,1.0,19000000.0,2021-04-01,426 days,37.0,3
107121,1122026,794263,1.0,450.0,33000000.0,EARNEDINCOME,201804.0,정규직,자가,60000000.0,대환대출,0.0,0.0,1.0,7000000.0,2018-04-01,1522 days,30.0,1
107122,1867092,404721,0.0,690.0,30000000.0,FREELANCER,201901.0,기타,전월세,3000000.0,생활비,0.0,0.0,1.0,27000000.0,2019-01-01,1247 days,43.0,3
107123,1859591,559015,1.0,700.0,156000000.0,PRIVATEBUSINESS,202004.0,기타,기타가족소유,40000000.0,사업자금,0.0,0.0,1.0,108000000.0,2020-04-01,791 days,45.0,2

In [11]:
# 5. employment_type -> 라벨 인코딩
label_employment_type = user['employment_type']
print(label_employment_type.unique())

le.fit(label_employment_type)
label_encoded = le.transform(label_employment_type)
label_encoded_df = pd.DataFrame(label_encoded, columns = ['label_employment_type'])

user = pd.concat([user, label_encoded_df], axis = 1)
user

['정규직' '기타' '계약직' '일용직']

,application_id,user_id,gender,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,work_day,Age,label_purpose,label_employment_type
0,954900,553686,1.0,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,대환대출,0.0,0.0,1.0,27000000.0,2007-02-01,5599 days,54.0,1,3
1,967833,33400,1.0,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,16000000.0,2021-09-01,273 days,22.0,3,3
2,2003486,441096,0.0,600.0,75000000.0,FREELANCER,20210301.0,기타,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,7000000.0,2021-03-01,457 days,35.0,3,1
3,1018194,50628,1.0,640.0,43000000.0,EARNEDINCOME,20180301.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,8000000.0,2018-03-01,1553 days,37.0,3,3
4,1097135,57840,0.0,560.0,156000000.0,EARNEDINCOME,20150101.0,정규직,기타가족소유,30000000.0,생활비,0.0,0.0,1.0,5000000.0,2015-01-01,2708 days,54.0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107119,1905207,834738,1.0,830.0,30000000.0,PRIVATEBUSINESS,201909.0,기타,기타가족소유,11000000.0,대환대출,0.0,0.0,1.0,11000000.0,2019-09-01,1004 days,29.0,1,1
107120,1967352,594440,0.0,550.0,14000000.0,EARNEDINCOME,202104.0,정규직,전월세,8000000.0,생활비,0.0,0.0,1.0,19000000.0,2021-04-01,426 days,37.0,3,3
107121,1122026,794263,1.0,450.0,33000000.0,EARNEDINCOME,201804.0,정규직,자가,60000000.0,대환대출,0.0,0.0,1.0,7000000.0,2018-04-01,1522 days,30.0,1,3
107122,1867092,404721,0.0,690.0,30000000.0,FREELANCER,201901.0,기타,전월세,3000000.0,생활비,0.0,0.0,1.0,27000000.0,2019-01-01,1247 days,43.0,3,1
107123,1859591,559015,1.0,700.0,156000000.0,PRIVATEBUSINESS,202004.0,기타,기타가족소유,40000000.0,사업자금,0.0,0.0,1.0,108000000.0,2020-04-01,791 days,45.0,2,1

In [12]:
# 6. houseown_type -> 라벨 인코딩
label_houseown_type = user['houseown_type']
print(label_houseown_type.unique())

le.fit(label_houseown_type)
label_encoded = le.transform(label_houseown_type)
label_encoded_df = pd.DataFrame(label_encoded, columns = ['label_houseown_type'])

user = pd.concat([user, label_encoded_df], axis = 1)
user

['기타가족소유' '전월세' '자가' '배우자']

,application_id,user_id,gender,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,...,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,work_day,Age,label_purpose,label_employment_type,label_houseown_type
0,954900,553686,1.0,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,...,0.0,0.0,1.0,27000000.0,2007-02-01,5599 days,54.0,1,3,0
1,967833,33400,1.0,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,...,0.0,0.0,1.0,16000000.0,2021-09-01,273 days,22.0,3,3,0
2,2003486,441096,0.0,600.0,75000000.0,FREELANCER,20210301.0,기타,기타가족소유,5000000.0,...,0.0,0.0,1.0,7000000.0,2021-03-01,457 days,35.0,3,1,0
3,1018194,50628,1.0,640.0,43000000.0,EARNEDINCOME,20180301.0,정규직,기타가족소유,5000000.0,...,0.0,0.0,1.0,8000000.0,2018-03-01,1553 days,37.0,3,3,0
4,1097135,57840,0.0,560.0,156000000.0,EARNEDINCOME,20150101.0,정규직,기타가족소유,30000000.0,...,0.0,0.0,1.0,5000000.0,2015-01-01,2708 days,54.0,3,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107119,1905207,834738,1.0,830.0,30000000.0,PRIVATEBUSINESS,201909.0,기타,기타가족소유,11000000.0,...,0.0,0.0,1.0,11000000.0,2019-09-01,1004 days,29.0,1,1,0
107120,1967352,594440,0.0,550.0,14000000.0,EARNEDINCOME,202104.0,정규직,전월세,8000000.0,...,0.0,0.0,1.0,19000000.0,2021-04-01,426 days,37.0,3,3,3
107121,1122026,794263,1.0,450.0,33000000.0,EARNEDINCOME,201804.0,정규직,자가,60000000.0,...,0.0,0.0,1.0,7000000.0,2018-04-01,1522 days,30.0,1,3,2
107122,1867092,404721,0.0,690.0,30000000.0,FREELANCER,201901.0,기타,전월세,3000000.0,...,0.0,0.0,1.0,27000000.0,2019-01-01,1247 days,43.0,3,1,3
107123,1859591,559015,1.0,700.0,156000000.0,PRIVATEBUSINESS,202004.0,기타,기타가족소유,40000000.0,...,0.0,0.0,1.0,108000000.0,2020-04-01,791 days,45.0,2,1,0

In [13]:
# 7. income_type -> 라벨 인코딩
label_income_type = user['income_type']
print(label_income_type.unique())

le.fit(label_income_type)
label_encoded = le.transform(label_income_type)
label_encoded_df = pd.DataFrame(label_encoded, columns = ['label_income_type'])

user = pd.concat([user, label_encoded_df], axis = 1)
user

['PRIVATEBUSINESS' 'EARNEDINCOME' 'FREELANCER' 'PRACTITIONER'
 'EARNEDINCOME2' 'OTHERINCOME']

,application_id,user_id,gender,credit_score,yearly_income,income_type,company_enter_month,employment_type,houseown_type,desired_amount,...,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,enter_month,work_day,Age,label_purpose,label_employment_type,label_houseown_type,label_income_type
0,954900,553686,1.0,870.0,30000000.0,PRIVATEBUSINESS,20070201.0,정규직,기타가족소유,30000000.0,...,0.0,1.0,27000000.0,2007-02-01,5599 days,54.0,1,3,0,5
1,967833,33400,1.0,630.0,36000000.0,EARNEDINCOME,20210901.0,정규직,기타가족소유,5000000.0,...,0.0,1.0,16000000.0,2021-09-01,273 days,22.0,3,3,0,0
2,2003486,441096,0.0,600.0,75000000.0,FREELANCER,20210301.0,기타,기타가족소유,5000000.0,...,0.0,1.0,7000000.0,2021-03-01,457 days,35.0,3,1,0,2
3,1018194,50628,1.0,640.0,43000000.0,EARNEDINCOME,20180301.0,정규직,기타가족소유,5000000.0,...,0.0,1.0,8000000.0,2018-03-01,1553 days,37.0,3,3,0,0
4,1097135,57840,0.0,560.0,156000000.0,EARNEDINCOME,20150101.0,정규직,기타가족소유,30000000.0,...,0.0,1.0,5000000.0,2015-01-01,2708 days,54.0,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107119,1905207,834738,1.0,830.0,30000000.0,PRIVATEBUSINESS,201909.0,기타,기타가족소유,11000000.0,...,0.0,1.0,11000000.0,2019-09-01,1004 days,29.0,1,1,0,5
107120,1967352,594440,0.0,550.0,14000000.0,EARNEDINCOME,202104.0,정규직,전월세,8000000.0,...,0.0,1.0,19000000.0,2021-04-01,426 days,37.0,3,3,3,0
107121,1122026,794263,1.0,450.0,33000000.0,EARNEDINCOME,201804.0,정규직,자가,60000000.0,...,0.0,1.0,7000000.0,2018-04-01,1522 days,30.0,1,3,2,0
107122,1867092,404721,0.0,690.0,30000000.0,FREELANCER,201901.0,기타,전월세,3000000.0,...,0.0,1.0,27000000.0,2019-01-01,1247 days,43.0,3,1,3,2
107123,1859591,559015,1.0,700.0,156000000.0,PRIVATEBUSINESS,202004.0,기타,기타가족소유,40000000.0,...,0.0,1.0,108000000.0,2020-04-01,791 days,45.0,2,1,0,5

In [ ]:
# 8. credit_score -> 범주

In [14]:
user_labelencoding = user[['application_id', 'user_id', 'gender', 'credit_score', 'yearly_income',
      'label_income_type', 'label_employment_type',  'label_houseown_type',
       'label_purpose','desired_amount', 'personal_rehabilitation_yn',
       'personal_rehabilitation_complete_yn', 'existing_loan_cnt',
       'existing_loan_amt', 'work_day', 'Age']]
user_labelencoding

,application_id,user_id,gender,credit_score,yearly_income,label_income_type,label_employment_type,label_houseown_type,label_purpose,desired_amount,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,work_day,Age
0,954900,553686,1.0,870.0,30000000.0,5,3,0,1,30000000.0,0.0,0.0,1.0,27000000.0,5599 days,54.0
1,967833,33400,1.0,630.0,36000000.0,0,3,0,3,5000000.0,0.0,0.0,1.0,16000000.0,273 days,22.0
2,2003486,441096,0.0,600.0,75000000.0,2,1,0,3,5000000.0,0.0,0.0,1.0,7000000.0,457 days,35.0
3,1018194,50628,1.0,640.0,43000000.0,0,3,0,3,5000000.0,0.0,0.0,1.0,8000000.0,1553 days,37.0
4,1097135,57840,0.0,560.0,156000000.0,0,3,0,3,30000000.0,0.0,0.0,1.0,5000000.0,2708 days,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107119,1905207,834738,1.0,830.0,30000000.0,5,1,0,1,11000000.0,0.0,0.0,1.0,11000000.0,1004 days,29.0
107120,1967352,594440,0.0,550.0,14000000.0,0,3,3,3,8000000.0,0.0,0.0,1.0,19000000.0,426 days,37.0
107121,1122026,794263,1.0,450.0,33000000.0,0,3,2,1,60000000.0,0.0,0.0,1.0,7000000.0,1522 days,30.0
107122,1867092,404721,0.0,690.0,30000000.0,2,1,3,3,3000000.0,0.0,0.0,1.0,27000000.0,1247 days,43.0
107123,1859591,559015,1.0,700.0,156000000.0,5,1,0,2,40000000.0,0.0,0.0,1.0,108000000.0,791 days,45.0

In [15]:
user_labelencoding.to_csv('user_LE.csv', index = False)